.nav_music {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.search_music {
    width: 300px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
}

.upload_btn {
    width: 100%;
    height: 40px;
    border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg);
}

.all_tracks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.all_tracks form {
    width: 100%;
    margin: 0 !important;
}

.all_tracks_input {
    width: 100%;
    border-color: var(--borderVk);
    background-color: var(--navLightBg) !important;
}

.radio_btns label {
    font-size: 12px !important;
    background-color: var(--navLightBg) !important;
}

.tracks {
    width: 100%;
    height: 86%;
    overflow-y: scroll;
}

.tracks::-webkit-scrollbar {
    display: none;
}

.audio_wrapper {
    width: 100%;
    position: relative;
}

.audio {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--navLightBg);
    border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg) !important;
}

.audio:hover {
    cursor: pointer;
    border: 1px solid var(--attention);
}

.audio_img {
    width: 50px;
    height: 50px;
    border-radius: var(--borderRadiusRem);
}

.audio_info {
    width: 190px;
    max-width: 208px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio_info_name {
    font-size: 16px;
}

.audio_info_authors {
    font-size: 14px;
    opacity: 0.8;
}

.audio_duration {
    opacity: 0.8;
}

.add_to_playlist {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 30px;
    height: 22px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

.add_to_playlist:hover {
    color: var(--attention);
}

.upload-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.upload-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--navLightBg);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input[type="file"],
input[type="text"] {
    margin-top: 5px;
    padding: 5px;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.audioPlayer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg) !important;
}

.audioControls {
    position: relative;
}

.hole {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--attention);
    background-color: var(--navDarkBg);
}

.audioPlayer_name {
    margin-left: 15px;
    color: var(--attention);
}

.playerImg {
    position: relative;
    width: auto;
    max-width: 100%;
    height: 100px;
    border: 1px solid var(--attention);
    border-radius: 50%;
    animation-name: rotateAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow: hidden;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation-play-state: paused;
    /* Добавление этого свойства с значением paused остановит анимацию */
}

.audio.playing {
    color: var(--attention) !important;
}

.playlists_wrapper {
    width: 100%;
    height: calc(100% - 510px);
    /* border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg); */
}

.create_playlist {
    width: 50px;
    height: 30px;
    font-size: 32px;
    color: var(--attention);
}

.card {
    width: 270px !important;
    margin-top: 30px;
    background-color: var(--navLightBg) !important;
    color: var(--attention) !important;
}

.playlist_btn {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    font-size: 54px;
    color: var(--attention);
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.card:hover .playlist_btn {
    opacity: 1;
}

.card:hover .card-img-top {
    filter: brightness(0.3);
}

.playlistForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg);
}

.playlist_tracks_wrapper {
    width: 300px;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.palaylist_name {
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--attention);
}

.playlist_tracks {
    width: 100%;
    height: max-content;
    max-height: 90%;
    overflow-y: scroll;
    background-size: contain;
}

.playlist_tracks::-webkit-scrollbar {
    display: none;
}

.form_tracks {
    width: 100%;
    margin-top: 38px;
    margin-right: 0 !important;
}

.choose_playlist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: auto;
    max-height: 30vh;
    overflow-y: scroll;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg);
}

.choose_playlist::-webkit-scrollbar {
    display: none;
}

.choose_playlist_wrapper {
    width: 100%;
    height: max-content;
}

.playlist_ch {
    width: 100%;
    height: max-content;
    padding: 5px;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #FFF;
    border-radius: var(--borderRadiusRem);
}