.nav_music {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search_music {
    width: 300px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
}

.upload_btn {
    width: 100%;
    border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg);
}

.all_tracks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.all_tracks form {
    width: 100%;
    margin: 0 !important;
}

.all_tracks_input {
    width: 100%;
    border-color: var(--borderVk);
    background-color: var(--navLightBg) !important;
}

.radio_btns label {
    font-size: 12px !important;
    background-color: var(--navLightBg) !important;
}

.tracks {
    width: 100%;
    height: 86%;
    overflow-y: scroll;
}

.tracks::-webkit-scrollbar {
    display: none;
}

.audio {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--navLightBg);
    border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg) !important;
}

.audio:hover {
    cursor: pointer;
    border: 1px solid var(--attention);
}

.audio_img {
    width: 50px;
    height: 50px;
    border-radius: var(--borderRadiusRem);
}

.audio_info {
    width: 190px;
    max-width: 208px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio_info_name {
    font-size: 16px;
}

.audio_info_authors {
    font-size: 14px;
    opacity: 0.8;
}

.audio_duration {
    opacity: 0.8;
}

.upload-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.upload-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--navLightBg);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input[type="file"],
input[type="text"] {
    margin-top: 5px;
    padding: 5px;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.playlist_music {
    width: 60%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}

.audioPlayer {
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.audioControls {
    width: 100%;
    height: calc(100% - 54px);
    padding: 15px;
    padding-bottom: 5px;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg);
}

.audioPlayer_name {
    width: 100%;
    text-align: center;
    color: var(--attention);
}

.playerImg {
    width: auto;
    max-width: 100%;
    height: 400px;
}

.audio.playing {
    color: var(--attention) !important;
}

.playlists_wrapper {
    width: 100%;
    height: calc(100% - 510px);
    /* border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg); */
}

.create_playlist {
    width: 50px;
    height: 30px;
    font-size: 32px;
    color: var(--attention);
}

.playlists_sections {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playlist_section {
    width: 48%;
    height: 85%;
    padding-top: 10px;
    border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg);
    overflow-y: scroll;
}

.playlist_section::-webkit-scrollbar {
    display: none;
}

.playlist_section span {
    padding-left: 15px;
}

.playlists_list {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.playlists_list .card {
    margin-top: 30px;
}

.playlist_btn {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    font-size: 54px;
    color: var(--attention);
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s ease;
    cursor: pointer;
}

.card:hover .playlist_btn {
    opacity: 1;
}

.card:hover .card-img-top {
    filter: brightness(0.3);
}

.playlistForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: var(--borderRadiusRem);
    background-color: var(--navLightBg);
}