.nav_profile {
    height: 100%;
}

.nav_profile div {
    border-radius: var(--borderRadius);
}

.nav_profile_header {
    position: relative;
    height: 150px;
}

.nav_profile_avatar {
    position: absolute;
    width: max-content;
    left: 100px;
    bottom: -60px;
    z-index: 5;
}

.nav_profile_avatar_img {
    height: 120px;
    width: 120px;
    border: 3px solid var(--navLightBg);
    border-radius: 50%;
    /* animation: neon-animation 1.5s ease-in-out infinite alternate; */
}

.nav_status {
    background-color: green;
}

.nav_status {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 2px;
    bottom: 20px;
    border-radius: 50%;
    z-index: 6;
}

.nav_profile_name {
    position: absolute;
    width: max-content;
    height: 52px;
    left: 300px;
    bottom: 0;
    transform: translate(0, 45%);
    font-size: 34px;
    color: var(--attention);
    z-index: 5;
}

.nav_user_info {
    position: relative;
    height: 200px;
    background-color: var(--navLightBg);
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
    z-index: 1;
}

.nav_user_info_text {
    position: absolute;
    height: 100px;
    width: 550px;
    left: 300px;
    bottom: 35%;
    transform: translate(0, 50%);
    border: 3px solid var(--navDarkBg);
}

.nav_user_writeTo {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 300px;
    top: 5%;
    transform: translate(0, 50%);
}

.nav_user_add_friend {
    position: absolute;
    width: 50px;
    height: 40px;
    left: 420px;
    top: 5%;
    transform: translate(0, 50%);
}

.nav_user_wall_wrapper {
    width: 100%;
    height: calc(100% - 350px);
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    /* overflow-y: scroll; */
}

.nav_user_wall {
    width: 70%;
    height: 100%;
    background-color: var(--navLightBg);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.nav_users_friends {
    width: 30%;
    height: 300px;
    background-color: var(--navLightBg);
    margin-left: 20px;
}

.nav_friends {
    width: 100%;
    height: 50%;
    padding: 10px;
}

.nav_friends span {
    opacity: 0.6;
}

.nav_friends_line {
    border-bottom: 1px dashed var(--attention);
}

.nav_friends_wrapper {
    width: 100%;
    height: 110px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.nav_friends_wrapper div {
    margin-right: 10px;
}

.nav_user_wall_files_wrapper {
    display: flex;
    width: max-content;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.nav_user_wall_postForm {
    margin-top: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
}

.nav_user_wall_postTextarea {
    width: 600px;
    height: auto;
    padding: 5px;
    resize: none;
    color: #FFF;
    background-color: var(--navDarkBg);
    border-radius: var(--borderRadius);
    border: 2px solid var(--navDarkBg);
    outline: none;
}

.picker {
    cursor: pointer;
}

.emoji_picker {
    position: relative;
}

.emoji_picker svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.emoji_picker_wrapper {
    position: absolute;
    top: 50px;
    right: -190px;
    z-index: 6;
}

.nav_user_wall_wrapper_posts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.nav_user_wall_post {
    position: relative;
    margin-top: 50px;
    background-color: var(--navDarkBg);
    overflow: hidden;
}

.nav_user_wall_post_imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.nav_user_wall_post_imgWrapper img {
    max-width: 600px;
    height: 190px;
    margin-bottom: 30px;
}

.nav_user_wall_post_file {
    width: 20px;
    height: 10px;

}

.delete_post {
    position: absolute;
    width: 10px;
    height: 20px;
    cursor: pointer;
    top: 5px;
    right: 10px;
}

.delete_post:hover {
    color: var(--attention);
}

@keyframes neon-animation {
    from {
        box-shadow: 0 0 0px #017EAC, 0 0 5px #017EAC, 0 0 10px #017EAC, 0 0 15px #017EAC, 0 0 20px #017EAC, 0 0 25px #017EAC, 0 0 30px #017EAC;
    }

    to {
        box-shadow: 0 0 5px #017EAC, 0 0 10px #017EAC, 0 0 15px #017EAC, 0 0 20px #017EAC, 0 0 25px #017EAC, 0 0 30px #017EAC, 0 0 35px #017EAC;
    }
}