.nav_profile {
    height: 100%;
}

.nav_profile div {
    border-radius: var(--borderRadius);
}

.nav_profile_header {
    position: relative;
    height: 150px;
}

.nav_profile_avatar {
    position: absolute;
    width: max-content;
    left: 100px;
    bottom: -60px;
    z-index: 5;
}

.nav_profile_avatar_img {
    height: 120px;
    width: 120px;
    border: 3px solid var(--navLightBg);
    border-radius: 50%;
    /* animation: neon-animation 1.5s ease-in-out infinite alternate; */
}

.nav_status {
    background-color: green;
}

.nav_status {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 2px;
    bottom: 20px;
    border-radius: 50%;
    z-index: 6;
}

.nav_profile_name {
    position: absolute;
    width: max-content;
    height: 52px;
    left: 300px;
    bottom: 0;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* transform: translate(0, 45%); */
    font-size: 34px;
    color: var(--attention);
    z-index: 5;
}

.nav_user_info_edit {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background-color: inherit;
    border: 1px solid inherit;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_user_info_edit:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.nav_user_info_edit_window_exit {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 2px;
    width: 25px;
    height: 20px;
    font-size: 30px;
    border: none;
    padding: 0;
    outline: none;
    background-color: inherit;
    color: var(--attention);
    border-radius: var(--borderRadiusRem);
    cursor: pointer;
}

.nav_user_info_edit_window_exit:hover {
    opacity: 0.7;
}

.nav_user_info_edit_window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 700px;
    padding: 25px;
    background-color: var(--navLightBg);
    border-radius: var(--borderRadiusRem);
    border: 3px solid var(--attention);
    overflow-y: scroll;
    z-index: 15;
}

.nav_user_info_edit_window h2 {
    border-top: 1px dashed;
    margin-bottom: 0;
    color: var(--attention);
    text-align: center;
}

.nav_user_info_edit_window_elements {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.edit_window_element {
    width: 100%;
    height: max-content;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.edit_window_element h3,
.edit_window_element h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}

.edit_window_element div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit_window_element div input {
    width: 400px;
    height: 30px;
    background-color: inherit;
    border: 1px solid var(--white);
    border-radius: 5px;
    color: var(--white);
}

.element_input_colors {
    width: 100%;
    height: max-content;
    justify-content: center !important;
    margin-bottom: 10px;
}

.element_input_colors span {
    text-align: right;
}

.element_input_colors input {
    width: 30px !important;
    height: 30px !important;
    border: 0px solid #FFF !important;
    border-radius: 50% !important;
}

.edit_window_element div input:focus {
    outline: none;
}

.edit_window_element div button {
    width: max-content;
    height: 30px;
    background-color: inherit;
    border: 1px solid var(--attention);
    color: var(--attention);
    border-radius: var(--borderRadiusRem);
    margin-left: 5px;
}

.edit_window_element div button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.nav_user_info {
    position: relative;
    height: 200px;
    background-color: var(--navLightBg);
    /* border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important; */
    z-index: 1;
}

/* .nav_user_info_text {
    position: absolute;
    width: 550px;
    height: 100px;
    left: 300px;
    bottom: 35%;
    transform: translate(0, 50%);
    border: 3px solid var(--navDarkBg);
} */

.nav_user_marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.nav_user_marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 25s linear infinite;
    text-shadow: 0 0 10px var(--attention), 0 0 8px var(--attention), 0 0 4px var(--attention), 0 0 5px var(--attention), 0 0 1px var(--attention), 0 0 10px var(--attention), 0 0 10px var(--attention);
    /* #0ff */
}

.nav_user_marquee span img {
    height: 200px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.fade_in_out {
    animation: fade-in-out 2s ease-in-out infinite alternate;
}

@keyframes fade-in-out {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.nav_user_social_media_links {
    position: absolute;
    right: 10px;
    top: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.nav_user_social_media_links a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

/* .nav_user_social_media_links a svg {
    width: 41.67px;
    height: 41.67px;
} */

/* .nav_user_social_media_links a img {
    width: 41.67px;
    height: 41.67px;
}

.nav_user_social_media_links a img:hover {
    cursor: pointer;
} */

.nav_user_writeTo {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 300px;
    top: 5%;
    transform: translate(0, 50%);
}

.nav_user_add_friend {
    position: absolute;
    width: 50px;
    height: 40px;
    left: 420px;
    top: 5%;
    transform: translate(0, 50%);
}

.nav_user_wall_wrapper {
    width: 100%;
    height: calc(100% - 350px);
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 0;
    /* overflow-y: scroll; */
}

.nav_user_wall {
    width: 70%;
    height: 100%;
    background-color: var(--navLightBg);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.photo-info {
    max-width: 170px;
    word-wrap: break-word;
}

.nav_users_friends {
    width: 30%;
    max-height: 300px;
    background-color: var(--navLightBg);
    margin-left: 20px;
}

.nav_friends {
    width: 100%;
    height: 50%;
    padding: 10px;
}

.nav_friends span {
    opacity: 0.6;
}

.nav_friends_line {
    border-bottom: 1px dashed var(--attention);
}

.nav_friends_wrapper {
    width: 100%;
    height: 110px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}

.nav_friends_wrapper div {
    margin-right: 10px;
}

.nav_user_wall_files_wrapper {
    display: flex;
    width: max-content;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.nav_user_wall_files_charCount {
    margin-top: auto;
    margin-right: 10px;
}

.nav_user_wall_postForm {
    margin-top: 15px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
}

.nav_user_wall_postTextarea {
    width: 600px;
    height: auto;
    padding: 5px;
    resize: none;
    color: var(--white);
    background-color: var(--navDarkBg);
    border-radius: var(--borderRadius);
    border: 2px solid var(--navDarkBg);
    outline: none;
    word-wrap: break-word;
}

.picker {
    cursor: pointer;
}

.emoji_picker {
    position: relative;
}

.emoji_picker svg {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.emoji_picker_wrapper {
    position: absolute;
    top: 50px;
    right: -190px;
    z-index: 6;
}

.nav_user_wall_wrapper_posts {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

.nav_user_wall_post {
    position: relative;
    margin-top: 50px;
    background-color: var(--navDarkBg);
    overflow: hidden;
}

.nav_user_wall_post_div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav_user_wall_post_imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.nav_user_wall_post_imgWrapper img {
    max-width: 600px;
    height: 190px;
    margin-bottom: 30px;
}

.nav_user_wall_post_file {
    width: 20px;
    height: 10px;

}

.post_author_name {
    /* position: absolute;
    top: 10px;
    left: 55px; */
    width: max-content;
    max-width: 525px;
    margin-right: 25px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post_postTime {
    width: 98%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.delete_post {
    position: absolute;
    width: 10px;
    height: 20px;
    cursor: pointer;
    top: 5px;
    right: 10px;
}

.delete_post:hover {
    color: var(--attention);
}

@keyframes neon-animation {
    from {
        box-shadow: 0 0 0px #017EAC, 0 0 5px #017EAC, 0 0 10px #017EAC, 0 0 15px #017EAC, 0 0 20px #017EAC, 0 0 25px #017EAC, 0 0 30px #017EAC;
    }

    to {
        box-shadow: 0 0 5px #017EAC, 0 0 10px #017EAC, 0 0 15px #017EAC, 0 0 20px #017EAC, 0 0 25px #017EAC, 0 0 30px #017EAC, 0 0 35px #017EAC;
    }
}