/* linear_gradient_v1 */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* linear_gradient_v1 */

/* fallback */
@keyframes scroll {
    100% {
        background-position: 0px -400%;
    }
}

/* Fallback if the operatring system prefers reduced motion*/
@media (prefers-reduced-motion) {
    .fallback {
        animation: scroll 800s linear infinite;
    }
}

/* fallback */

/* rain */
.rain {
    position: absolute;
    left: 0;
    width: 95%;
    /* height: 100%; */
    z-index: 99;
}

.rain.back-row {
    display: none;
    z-index: 1;
    opacity: 0.5;
}

.nav_content.back-row-toggle .rain.back-row {
    display: block;
}

.drop {
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
    z-index: 99;
}

@keyframes drop {
    0% {
        transform: translateY(0vh);
    }

    75% {
        transform: translateY(90vh);
    }

    100% {
        transform: translateY(90vh);
    }
}

.stem {
    width: 1px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
}

@keyframes stem {
    0% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.splat {
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
    display: none;
}

.nav_content.splat-toggle .splat {
    display: block;
}

@keyframes splat {
    0% {
        opacity: 1;
        transform: scale(0);
    }

    80% {
        opacity: 1;
        transform: scale(0);
    }

    90% {
        opacity: 0.5;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.5);
    }
}

/* rain */