:root {
    --white: #ffffff;
    --navColor: #ffffff;
    /*--attention: #ffc107; */
    --backG: #0B0E17;
    --message: #1a2136;
    --split: #212529;
    --grey: #939393;
    --exit: rgb(255, 0, 0);
    --borderVk: #424242;
    --navDarkBg: #141414;
    /* --navLightBg: #222222; */
    --notificationBg: #4D4D4D;
    --borderRadius: 15px;
    --borderRadiusRem: 0.5rem;
    --announcement: #5D4BA6;
    --confirmation: #361c9e;
}